@layer components {
  /**
   * Anything that wants to look like a label.
   */
  .input-label {
    display: block;

    &.required::after {
      display             : inline-block;
      content             : "*";
      margin-inline-start : --spacing(1);
      color               : var(--color-danger);
    }

    &.disabled {
      opacity : 0.6;
      cursor  : not-allowed;
    }
  }


  /**
   * The combination of a label + input element. Mostly used to control the
   * relative layout of the two elements.
   */
  .input-label-pair {
    display          : flex;
    flex-direction   : column;
    gap              : --spacing(1);
    margin-block-end : --spacing(1);

    &.label-before, &.label-after {
      flex-direction : row;
      align-items    : center;
      gap            : --spacing(3);
    }

    &.label-after, &.label-below {
      .input-label {
        order: 2;
      }
    }
  }


  /**
   * The message that is displayed for an input when its value is not valid.
   * The height here is intentionally 0 - having a validation that appears and
   * pushes everything else on the page down is annoying. This relies on there
   * being adequate gap between elements on the page, but IMO looks better.
   */
  .input-validation {
    color      : var(--color-danger);
    font-size  : var(--text-sm);
    line-clamp : 2;
    height     : 0;
  }


  /**
   * An input field is an element that contains:
   * 1) a label
   * 2) some sort of control, e.g., a text field, checkbox, etc
   * 3) a validation message
   */
  .input-field {
    display        : flex;
    flex-direction : column;
  }


  /**
   * Dedicated input-control styling, regardless of where it appears or
   * what it is inside of.
   */
  .input-control {
    flex-grow : 1;
    padding   : --spacing(2) --spacing(3);

    &::placeholder, .placeholder {
      color: var(--color-global-foreground-accent);
    }
  }


  /**
   * Dedicated input-group styling, regardless of where it appears or what it is inside
   * of. The input-group class name is to be used on a container element - most
   * typically a div - that contains an <input> and optionally one or more
   * .input-group-addon styled elements (or various other elements that Primevue throws
   * into the mix, but serve a similar purpose).
   */
  .input-group {
    display     : flex;
    align-items : center;

    &.input-group-loading {
      cursor: wait;
    }

    .input-group-addon {
      padding : 0 --spacing(2);
      color   : var(--color-global-foreground-accent);
    }

    button.input-group-addon {
      cursor: pointer;
    }

    .input-control {
      outline: none;
    }
  }


  /**
   * The base styles of things that look like an input field.
   */
  .input-group,
  .input-control:where(:not(.input-group .input-control)) {
    width               : 100%;
    overflow            : clip;
    background-color    : var(--color-global-background);
    outline             : solid 2px var(--color-background-scale-e);
    border-radius       : --spacing(1);
    transition          : color, background-color, outline-color, box-shadow;
    transition-duration : calc(var(--default-transition-duration) * 2);

    &:is(:disabled, [aria-disabled="true"]),
    &:has(:disabled, [aria-disabled="true"]) {
      cursor  : not-allowed;
      opacity : 0.6;
    }

    /**
     * Focus effects. Checkbox inputs receive a more subtle treatment than text inputs.
     */
    &:not(:disabled, [aria-disabled="true"], :has(:disabled, [aria-disabled="true"])) {
      &:hover, &:focus-within {
        outline-color: var(--color-global-foreground-accent);
      }

      &:not(:has(> input[type="checkbox"])):focus-within {
        box-shadow       : var(--shadow-heavy);
        background-color : var(--color-background-scale-b);
      }
    }
  }


  /**
   * Checkboxes
   */
  .input-group:where(:has(input[type="checkbox"])) {
    position    : relative;
    user-select : none;
    flex-shrink : 0;
    width       : 1.5rem;
    height      : 1.5rem;
    transform   : translateY(-1px);

    svg {
      line-height : 1;
      font-size   : 1rem;
      width       : 1rem;
      height      : 1rem;
      margin-left : 0.25rem;
    }

    input {
      appearance : none;
      position   : absolute;
      height     : 100%;
      inset      : 0;
      z-index    : 10;
      opacity    : 0;

      &:not(:disabled) {
        cursor: pointer;
      }
    }

    /**
     * A checkbox styled like a toggle switch.
     */
    &.toggle-switch {
      border-radius : 1rem;
      width         : 2.5rem;

      &:has(:checked) {
        .slider:before {
          background-color : var(--color-global-foreground);
          transform        : translateX(1rem);
        }
      }

      .slider {
        position      : absolute;
        inset         : 0;
        border-radius : 1rem;

        &:before {
          content             : '';
          position            : absolute;
          background-color    : var(--color-background-scale-d);
          border-radius       : var(--radius-full);
          width               : 1rem;
          height              : 1rem;
          top                 : 0.25rem;
          left                : 0.25rem;
          transition          : transform, background-color;
          transition-duration : var(--default-transition-duration);
          box-shadow          : var(--shadow-md);
        }
      }
    }
  }
}
