/**
 * Utilities for applying pre-canned gradients.
 */


/**
 * Clip a background to some text content. Use this alongside .resee-bg-*** for
 * a wacky effect.
 */
@utility resee-text-mask {
  color           : transparent;
  background-clip : text;
  text-shadow     : none;
}


/**
 * Applies the linear gradient background. The angle is set in one of two ways.
 * Either "resee-bg-linear-to-{side}", where side is one of:
 *
 * - t  : top
 * - tr : top right
 * - r  : right
 * - br : bottom right
 * - b  : bottom
 * - bl : bottom left
 * - l  : left
 * - tl : top left
 *
 * or an arbitrary integer can be provided, which will be interpreted
 * in degree angles, e.g. "resee-bg-linear-227" which will set the
 * gradient angle to 227deg.
 */
/* noinspection CssOverwrittenProperties */
@utility resee-bg-linear-* {
  --resee-angle    : calc(--value(integer) * 1deg);
  --resee-angle    : --value(--gradient-direction-*);
  --resee-gradient : var(--colorscale-resee-linear);

  background-image: linear-gradient(var(--resee-angle), var(--resee-gradient));

  @variant dark {
    --resee-gradient: var(--colorscale-resee-lite-linear);
  }
}


/**
 * Applies the radial gradient background. The angle is set by affixing an
 * arbitrary integer which will be interpreted in degree angles, e.g.
 * "resee-bg-conic-227" which will set the gradient angle to 227deg.
 */
@utility resee-bg-conic-* {
  --resee-angle    : from calc(--value(integer) * 1deg);
  --resee-gradient : var(--colorscale-resee-conic);

  background-image: conic-gradient(var(--resee-angle), var(--resee-gradient));

  @variant dark {
    --resee-gradient: var(--colorscale-resee-lite-conic);
  }
}
