@layer base {
  /*
   * Styles for Vue's <Transition /> component.
   *
   * @see https://vuejs.org/guide/built-ins/transition.html#named-transitions
   *
   * Components that utilize transitions which also animate height or width
   * may need some special consideration in their own layout. See the <UiMessage />
   * component for an example.
   */

  .grow-y-enter-active,
  .grow-y-leave-active,
  .grow-x-enter-active,
  .grow-x-leave-active,
  .fade-enter-active,
  .fade-leave-active {
    transition                 : opacity;
    transition-duration        : calc(var(--default-transition-duration) * 2);
    transition-timing-function : var(--default-transition-timing-function);
  }

  .grow-y-enter-from,
  .grow-y-leave-to,
  .grow-x-enter-from,
  .grow-x-leave-to,
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  @supports (interpolate-size: allow-keywords) {
    .grow-y-enter-active,
    .grow-y-leave-active {
      interpolate-size           : allow-keywords;
      transition                 : opacity, height;
      transition-duration        : calc(var(--default-transition-duration) * 2);
      transition-timing-function : var(--default-transition-timing-function);
      overflow-y                 : clip;
      height                     : max-content;
    }

    .grow-y-enter-from,
    .grow-y-leave-to {
      height: 0;
    }

    .grow-x-enter-active,
    .grow-x-leave-active {
      interpolate-size           : allow-keywords;
      transition                 : opacity, width;
      transition-duration        : calc(var(--default-transition-duration) * 2);
      transition-timing-function : var(--default-transition-timing-function);
      overflow-x                 : clip;
      width                      : auto;
    }

    .grow-x-enter-from,
    .grow-x-leave-to {
      width: 0;
    }
  }
}
