@layer base {
  /*
   * Styles for Vue's <Transition /> component.
   *
   * @see https://vuejs.org/guide/built-ins/transition.html#named-transitions
   *
   * Components that utilize transitions which also animate height or width
   * may need some special consideration in their own layout. See the <UiMessage />
   * component for an example.
   *
   *
   * Available effects (can be used via <Transition name="EFFECT_NAME" />):
   *
   * - "fade"       : Tween opacity of the element in/out.
   * - "scale":     : Tween the scale (from 85%) and the opacity of the element in/out.
   * - "grow-x"     : Tween width + opacity of the element, if `interpolate-size: allow-keywords`
   *                  is supported. If it is not supported, this behaves the same as "fade".
   * - "grow-y"     : Tween height + opacity of the element, if `interpolate-size: allow-keywords`
   *                  is supported. If it is not supported, this behaves the same as "fade".
   * - "slide-in-*" : Where * is one of [left, top, right, bottom]. Uses translateX/translateY to
   *                  cause the element to move into the viewport from the indicated direction.
   */
  :root {
    --fade-transition-duration  : calc(var(--default-transition-duration) * 2);
    --grow-transition-duration  : calc(var(--default-transition-duration) * 2);
    --slide-transition-duration : calc(var(--default-transition-duration) * 3);
    --scale-transition-duration : calc(var(--default-transition-duration) * 2);
  }

  .grow-y-enter-active,
  .grow-y-leave-active,
  .grow-x-enter-active,
  .grow-x-leave-active,
  .fade-enter-active,
  .fade-leave-active {
    transition                 : opacity;
    transition-duration        : var(--fade-transition-duration);
    transition-timing-function : var(--default-transition-timing-function);
  }

  .grow-y-enter-from,
  .grow-y-leave-to,
  .grow-x-enter-from,
  .grow-x-leave-to,
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  @supports (interpolate-size: allow-keywords) {
    .grow-y-enter-active,
    .grow-y-leave-active {
      interpolate-size           : allow-keywords;
      transition                 : opacity, height;
      transition-duration        : var(--grow-transition-duration);
      transition-timing-function : var(--default-transition-timing-function);
      overflow-y                 : clip;
      height                     : max-content;
    }

    .grow-y-enter-from,
    .grow-y-leave-to {
      height: 0 !important;
    }

    .grow-x-enter-active,
    .grow-x-leave-active {
      interpolate-size           : allow-keywords;
      transition                 : opacity, width;
      transition-duration        : var(--grow-transition-duration);
      transition-timing-function : var(--default-transition-timing-function);
      overflow-x                 : clip;
      width                      : fit-content;
    }

    .grow-x-enter-from,
    .grow-x-leave-to {
      width: 0 !important;
    }
  }


  .slide-in-top-enter-active,
  .slide-in-top-leave-active,
  .slide-in-right-enter-active,
  .slide-in-right-leave-active,
  .slide-in-bottom-enter-active,
  .slide-in-bottom-leave-active,
  .slide-in-left-enter-active,
  .slide-in-left-leave-active {
    transition-duration        : var(--slide-transition-duration);
    transition-property        : transform;
    transition-timing-function : var(--default-transition-timing-function);
  }

  .slide-in-left-enter-from,
  .slide-in-left-leave-to {
    transform: translateX(-100%);
  }

  .slide-in-right-enter-from,
  .slide-in-right-leave-to {
    transform: translateX(100%);
  }

  .slide-in-top-enter-from,
  .slide-in-top-leave-to {
    transform: translateY(-100%);
  }

  .slide-in-bottom-enter-from,
  .slide-in-bottom-leave-to {
    transform: translateY(100%);
  }


  .scale-enter-active,
  .scale-leave-active {
    transition-duration        : var(--scale-transition-duration);
    transition-property        : opacity, transform;
    transition-timing-function : var(--default-transition-timing-function);
  }

  .scale-enter-from,
  .scale-leave-to {
    opacity   : 0;
    transform : scale(0.85);
  }
}
