/**
 * Sets `content` to the zero-width space character. This is useful when you want to do
 * something with ::before or ::after, but don't want the content to take up any space,
 * or have to get crafty with hiding that space.
 */
@utility content-zero-width {
  content: var(--zero-width-space);
}

/**
 * Fades + blurs the content behind the element to which this is applied. This is
 * particularly useful as the backdrop for full-attention overlays like dialogs and
 * drawers.
 */
@utility occlude-background {
  transition-property : background-color, backdrop-filter;
  transition-duration : calc(var(--default-transition-duration) * 3);
  backdrop-filter     : blur(var(--blur-xs));
  background-color    : --alpha(var(--color-black) / 60%);

  /**
   * Specifically for those dialogs and drawers, this causes the fade + blur to animate
   * in/out when the immediate child is also animating.
   */
  &:has(> [class*="-enter-from"], > [class*="-leave-active"], > [class*="-leave-to"]) {
    backdrop-filter  : blur(0px);
    background-color : transparent;
  }
}
